<div class="catalog-item">
    <div class="item-header"><strong class="item-header-text">{{name}}</strong></div>
    <div class="item-img">
        <img src="{{contextPath}}/resources/img/catalog-img.jpg" alt="Изображение макета">
        <div class="item-card">
            <h3 class="item-title">{{name}}</h3>
            <p class="item-text item-address">{{address}}</p>
            <p class="item-text item-phoneNumber">{{phoneNumber}}</p>
            <a onclick="showRestaurantDetails('{{id}}', '{{contextPath}}/ajax/restaurants/')" class="item-btn">Show details</a>
        </div>
    </div>
</div>