<div class="voting-item">
   <span class="voting-item-name">{{restaurantName}}</span>
   <div class="progress">
       <span class="pb-text">{{votes}} ({{toPercentage percentage}})</span>
       <div class="progress-bar" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="1" style="width: {{toPercentage percentage}}">
       </div>
   </div>
</div>